body{
  text-align: center;
  margin: 100px 0;
  background-color: #e8e8e857;
  font-family: 'Raleway', sans-serif;
}
/*Styling the container div*/
.container{
  margin: auto;
  width: 84%;
}
input{
  max-width: 50%;
  padding: 15px;
  border-radius: 6px;
  outline: none;
  margin: 10px;
  font-size: 18px;
  border: 2px solid white;
}
button{
  background-color: darkviolet;
  color: white;
  outline: none;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}
input[type="button"]{
  text-align: center;
}
label{
  font-weight: 600;
}
/*Making the second div default display none*/
#second{
  display: none;
}
span{
  white-space: pre;
  font-size: 25px;
}
